<app-head-banner></app-head-banner>

<!-- categories scroller -->
<div class="catalog">
  <h2>Catalog</h2>
</div>

<!-- <app-slider
  [sliderParams]="bannerSliderParams"
  class="head-banner"
></app-slider> -->

<!-- discount products scroller -->
<!-- <div class="discounts">
  <h2>Discounts</h2>
  <app-horizontal-scroller class="hr">
    @for (item of discountProducts; track item.id) {
    <swiper-slide>
      <app-product-card [item]="item"></app-product-card>
    </swiper-slide>
    }
  </app-horizontal-scroller>
</div> -->
