<header class="header">
  <div class="inner">
    <a href="" class="header__title"><h1>Є-Shop</h1></a>
    <div class="input-wrapper">
      <input type="text" class="header__search" placeholder="Search" />
    </div>

    <div class="header__nav">
      <a href="/catalog" class="header__link"
        ><div class="header__link-box">
          <img src="/icons/icon_catalog.svg" />
          <h3>Catalog</h3>
        </div>
      </a>
      <a href="/cart" class="header__link"
        ><div class="header__link-box">
          <img src="/icons/icon_basket.svg" />
          <h3>Cart</h3>
        </div>
      </a>
      <a href="/profile" class="header__link"
        ><div class="header__link-box">
          <img src="/icons/icon_profile.svg" />
          <h3>Profile</h3>
        </div>
      </a>
    </div>
  </div>
</header>
