<div class="inner">
  <swiper-container
    class="mySwiper"
    space-between="30"
    slides-per-view="6"
    navigation
  >
    <swiper-slide><app-category-item></app-category-item></swiper-slide>
    <swiper-slide><app-category-item></app-category-item></swiper-slide>
    <swiper-slide><app-category-item></app-category-item></swiper-slide>
    <swiper-slide><app-category-item></app-category-item></swiper-slide>
    <swiper-slide><app-category-item></app-category-item></swiper-slide>
    <swiper-slide><app-category-item></app-category-item></swiper-slide>
    <swiper-slide><app-category-item></app-category-item></swiper-slide>
    <swiper-slide><app-category-item></app-category-item></swiper-slide>
  </swiper-container>
</div>
