<div class="product-card">
  <img src="{{ item.thumbnail }}" class="product-card__image" />

  <div class="product-card__information">
    <a href="">
      <h3 class="product-card__title">{{ item.title }}</h3>
    </a>
    <div class="price-box">
      <p class="price-box__new-price">{{ discountPrice }} $</p>
      <p class="price-box__old-price">{{ item.price }} $</p>
    </div>
  </div>
  <div class="product-card__availability">
    <span class="availability__stock-indicator {{ availabilityStatus }}">
      {{ item.availabilityStatus }}
    </span>
    <button class="availability__like-button"></button>
  </div>
  <button class="product-card__add-to-cart-button">Add to cart</button>
</div>
