.product-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 48.5rem;
  padding: 2.4rem;

  .product-card__image {
    width: 100%;
    max-height: 21.6rem;
    border-radius: 0.8rem;
    object-fit: contain;
    background-color: white;
    box-shadow: 0rem 0rem 3rem -25px black;
  }

  .product-card__information {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    flex-grow: 1;

    & a:hover {
      text-decoration: underline;
      color: var(--color-blue-light);
    }

    .product-card__title {
      line-height: 3.2rem;
      font-size: 2rem;
      font-weight: normal;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2; /* Устанавливает ограничение в 2 строки */
      line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .price-box {
      display: flex;
      gap: 0.8rem;
      .price-box__new-price {
        font-size: 2rem;
        font-weight: bolder;
        text-wrap: nowrap;
      }
      .price-box__old-price {
        align-self: flex-end;
        font-size: 1rem;
        color: var(--color-gray-dark);
        text-decoration: line-through;
        text-wrap: nowrap;
      }
    }


  }

      .product-card__availability {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .availability__stock-indicator {
        font-size: 1.4rem;
        font-weight: 300;
      }
      .availability__like-button {
        height: 4rem;
        width: 4rem;
        border-radius: 0.8rem;
        border: none;
        background-color: transparent;
        cursor: pointer;
        background-image: url("/icons/icon_heart.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 2.4rem;
        box-shadow: 0rem 0rem 4rem -10px black;
        transition: background-color 0.05s linear;
        &:hover {
          background-color: var(--color-blue-light);
        }
      }
      .in-stock {
        color: green;
      }
      .out-of-stock {
        color: red;
      }
      .low-stock {
        color: orange;
      }
    }

  .product-card__add-to-cart-button {
    width: 100%;
    padding: 1.4rem 0;
    border: none;
    border-radius: 0.8rem;
    background-color: var(--color-blue);
    cursor: pointer;
    color: var(--color-white);
    font-size: 1.4rem;
    font-weight: normal;
    transition: background-color 0.05s linear;

    &:active {
      background-color: var(--color-blue-light);
    }
  }
}
