.category-item {
  max-height: 24.6rem;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  & img {
    width: 20rem;
    height: 21.1rem;
    border-radius: 0.8rem;
    object-fit: contain;
    box-shadow: 0rem 0rem 3rem -25px black;
  }

  & p {
    font-size: 2rem;
    text-align: center;
  }
}
