.category-item {
  max-height: 24.6rem;
  max-width: 20rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  & img {
    width: 20rem;
    height: 21.1rem;
    border: 1px solid black;
    border-radius: 0.8rem;
  }

  & p {
    font-size: 2rem;
    text-align: center;
  }
}
